@model DNAS.Domian.DTO.Login.ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = null;
}
<style>
    .field-validation-error {
        color: red;
    }
    span{
        display:inline-block;
    }
</style>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bandhan Bank</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <!-- CSS  -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/vendor/ti-icons/css/themify-icons.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    <div class="bg-gray-200 full-page-wrapper">
        <div class="content-wrapper">
            <div class="row w-100 mx-0">
                <div class="col-lg-8 mx-auto">
                    <div class="bg-white  rounded shadow auth">
                        <div class="row">
                            <div class="col-lg-6 auth d-flex flex-column ">
                                <div class="brand-logo">
                                    <img src="/assets/images/logo.png" alt="Bandhan Bank" />
                                </div>
                                <div class="d-none d-lg-block">
                                    <img src="/assets/images/login.svg" alt="" class="img-fluid" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="bg-white text-left py-5 px-4 px-sm-5 ">

                                    <h4 class="f-s-28 f-w-700 text-black">
                                        Change Password
                                    </h4>
                                    @if (TempData["message"] is null || TempData["message"]?.ToString() == "Failed")
                                    { 
                                        <form class="pt-3" action="/login/ChangePassword" method="post" id="frmloginchangepass">
                                            @Html.AntiForgeryToken()
                                            @Html.HiddenFor(m => m.UserId)
                                            <span class="form-label">Predefined Password</span>
                                            <div class="mb-4">
                                                @Html.TextBoxFor(m => m.predefinedpassword, new { @type = "password", @class = "form-control form-control-lg", @placeholder = "Predefined password in email", @maxlength = "8" })
                                                <br />
                                                @Html.ValidationMessageFor(m => m.predefinedpassword)
                                            </div>

                                            <span class="form-label">New Password</span>
                                            <div class="mb-4">
                                                @Html.TextBoxFor(m => m.Password, new { @type = "password", @class = "form-control form-control-lg", @placeholder = "New Password", @maxlength = "15" })
                                                <br />
                                                @Html.ValidationMessageFor(m => m.Password)
                                            </div>

                                            <span class="form-label">Confirm Password</span>
                                            <div class="mb-4">
                                                @Html.TextBoxFor(m => m.ConfirmPassword, new { @type = "password", @class = "form-control form-control-lg", @placeholder = "Confirm Password", @maxlength = "15" })
                                                <br />
                                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                            </div>

                                            <div class="mt-4">
                                                <button class="btn btn-primary btn-lg f-s-16 " id="btnChangePassword">CONTINUE</button>
                                            </div>
                                            <div class="mb-4">
                                                <div style="text-align:right;">
                                                    <a href="/login" class="auth-link text-black f-w-400">Go to login</a>
                                                </div>
                                            </div>
                                        </form>
                                     }
                                    else
                                    {
                                        <div class="mb-4">
                                            <p>@TempData["message"]</p>
                                            <div class="pt-3 my-2 d-md-flex justify-content-between align-items-center">
                                                <a href="/login" class="auth-link text-black f-w-400">Go to login</a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="toast-container position-absolute p-3 top-0 end-0">
        <div class="toast fade" id="erroralert" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Alert</strong>
                <small class="text-muted">just now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body alertmsg">
            </div>
        </div>
    </div>

</body>

<script src="~/assets/js/jquery.js"></script>
<script src="~/js/jquery-3.5.1.min.js"></script>
<script src="~/js/jquery-migrate-3.4.1.min.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $('document').ready(function () {
        if ('@TempData["message"]' == 'Failed') {
            
            $('.alertmsg').html('The Predefined Password Did Not Match. Please try again.');
           errortoast();
            $('#erroralert').css("background", "tomato");
        }
        else{
            $('#erroralert').removeClass('show');
            $('#erroralert').css("background", "none");
            $('.alertmsg').html('');
        }
    });
    $(".btn-close").click(function () {
        $('#erroralert').removeClass('show');
        $('#erroralert').css("background", "none");
        $('.alertmsg').html('');
    });
</script>

</html>