@model DNAS.Domian.DTO.Login.RecoverPasswordModel
@{
    ViewData["Title"] = "RecoverPassword";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bandhan Bank</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <!-- CSS  -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/vendor/ti-icons/css/themify-icons.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    <div class="bg-gray-200 full-page-wrapper">
        <div class="content-wrapper">
            <div class="row w-100 mx-0">
                <div class="col-lg-8 mx-auto">
                    <div class="bg-white  rounded shadow auth">
                        <div class="row">
                            <div class="col-lg-6 auth d-flex flex-column ">
                                <div class="brand-logo">
                                    <img src="/assets//images/logo.png" alt="ITC" />
                                </div>
                                <div class="d-none d-lg-block">
                                    <img src="/assets//images/login.svg" alt="" class="img-fluid" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="bg-white text-left py-5 px-4 px-sm-5 ">
                                    <h4 class="f-s-28 f-w-700 text-black">
                                        Recover Password
                                    </h4>
                                    @if (TempData["ErrorMsg"] is not null)
                                    {
                                        <div class="mb-4">
                                            <p>@TempData["ErrorMsg"]</p>
                                            <div class="pt-3 my-2 d-md-flex justify-content-between align-items-center">
                                                <a href="/login" class="auth-link text-black f-w-400">Go to login</a>
                                            </div>
                                        </div>
                                    }
                                    else if (TempData["ismailsend"] is true)
                                    {
                                        <div class="mb-4">
                                            <p>@TempData["successmsg"]</p>
                                            <div class="pt-3 my-2 d-md-flex justify-content-between align-items-center">
                                                <a href="/login" class="auth-link text-black f-w-400">Go to login</a>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <form class="pt-3" action="/login/RecoverPassword" method="post">
                                            @Html.AntiForgeryToken()
                                            <label for="password" class="form-label">Email</label>
                                            <div class="mb-4">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg", @placeholder = "example@example.com", })
                                            </div>
                                            <div class="mt-4">
                                                <button type="submit" class="btn btn-primary btn-lg  f-s-16 ">
                                                    SUBMIT
                                                </button>
                                            </div>
                                            <div class="pt-3 my-2 d-md-flex justify-content-between align-items-center">
                                                <a href="/login" class="auth-link text-black f-w-400">Continue with old password?</a>
                                            </div>
                                        </form>
                                    }
                                   
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.js"></script>


    <div class="toast-container position-absolute p-3 top-0 end-0">
        @if (TempData["successmsg"] != null)
        {
            <div class="toast fade show" id="sucesstoast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Success</strong>
                    <small class="text-muted">just now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body sucessmsg">
                    @TempData["successmsg"]
                </div>
            </div>
        }
        @if (TempData["errormsg"] != null)
        {
            <div class="toast fade show" id="erroralert" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Alert</strong>
                    <small class="text-muted">just now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body alertmsg">
                    @TempData["errormsg"]
                </div>
            </div>
        }
    </div>
</body>
</html>
